
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

img {
  width: 150px;
}

#myPublisherDiv {
  padding: 10px;
}

/*--- Begin Meeting Prompt Arrow styles ---*/
@keyframes arrow {
  0% {top:0;}
  50% {top:10px;}
  100% {top:0;}
}
@-webkit-keyframes arrow {
  0% {top:0;}
  50% {top:10px;}
  100% {top:0;}
}
#promptArrow {
  margin:0 auto;
  position:absolute;
  animation: arrow 0.75s ease 1s infinite;
  -webkit-animation: arrow 0.75s ease 1s infinite;
  top:0;
  right:0;
  width:140px;
  z-index:1100000001;
}
.promptContainer {
  background: none;
  width: 70px;
  height: 70px;
  margin:0 35px!important;
}
.triangle {
  background: none;
  width: 0;
  height: 0;
  border-bottom: 60px solid #759b2f;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  display:block;
  margin:0 0 0 45px;
}
.box {
  width: 35px;
  height: 55px;
  background: #759b2f;
  display:block;
  margin:-25px 62px 0;
}
#promptArrow p {
  text-align:center;
  margin:0 0 0 20px;
  padding:10px 0;
  background-color:#fff;
